<% if controller_name == 'issues' && action_name == 'index' && @project %>
<ul>
<li><%= link_to "チケットのRankを現在の表示順で一括更新する",
  issue_rank_update_ranks_with_display_orders_path(
    params.delete_if { |k, v| k.to_s == 'controller' }),
  {
    :method => :post,
    :data => {
      :confirm => "チケットのRankを一括更新してよろしいですか?"
    }
  }
%></li>
</ul>
<% end %>
