<% if controller_name == 'issues' && action_name == 'index' && @project %>
<% if User.current.allowed_to?(:renumber_ranks_with_display_orders, @project, :global => true) %>
<ul>
<li><%= link_to l("issue_rank.update_ranks_with_display_orders"),
  issue_rank_update_ranks_with_display_orders_path(
    params.delete_if { |k, v| k.to_s == 'controller' }),
    :method => :post,
    :data => { :confirm => l("issue_rank.sure_to_update_ranks") }
%></li>
</ul>
<% end %>
<% end %>
